

































































































<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">yelpCamp</p>
                <ul class="list-group">
                    <li class="list-group-item active">item 1</li>
                    <li class="list-group-item">item 2</li>
                    <li class="list-group-item">item 3</li>
                    <li class="list-group-item">item 4</li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="card mb-3">
                    <img class="card-img-top img-responsive"  src="<%= campground.img %>" alt="">
                    <div class="card-body">
                        <p class="float-right">$9/night</p>
                        <a class="card-title" href="#">
                            <strong>
                                <%= campground.name %>
                            </strong>
                        </a>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                           <em>Submitted by <%= campground.author.username %></em>
                        </p>
                        <% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                      <%  } %>
                        
                    </div>
                </div>
                
               <div class="card">
                   <div class="mb-2 text-right">
                       <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new"> Add new comment</a>
                   </div>
                   <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                            <div class="col-md-12">
                                <strong> <%= comment.author.username %> </strong> 
                                <span class="float-right">10 days ago</span>
                                <p><%= comment.text%></p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">edit</a>
                                <form class="delete" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="post">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                   
                    <% }) %>
               </div>
               
            </div>

        </div>
    </div>











<% include ../partials/footer %>
